body
{
    background-color: #FF6666
;
}

#wrong1 {
    background-color: #53f401;
 
}

#wrong2 {
    background-color: #53f401;
 
}

#wrong3 {
    background-color: #53f401;
 
}

#right1 {
    background-color:#53f401;
 
}

#start {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
   
}

#startlink {
    font-size: 50px;
    color: yellow;
}

#startlink {
    text-decoration: none;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pic
{
    text-align: center;
}
button {
    width: 100%;
}
h1 {
    text-align: center;
}


#title {
    
    color: #ff0062
}

#gif{
    
    text-align: center;
    
    
}

#win {
    color:yellow;
    font-size: 20px;
    
}

h2 {
    text-align: center; 
  
}

h3{color: purple
}

